<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Indexiz_Base::indexiz">
                    <resource id="Indexiz_OrderLength::order_length" title="Order Length" translate="title" sortOrder="40" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
